<!DOCTYPE html>
<html>
  <head>
    <title>IHateTurbolinks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/groucho">Groucho</a>
      <a href="/harpo">Harpo</a>
      <a href="/chico">Chico</a>
      <a href="/gummo">Zeppo</a>
    </nav>
    <%= yield %>
  </body>
</html>
