.swatch {
  width: 5em;
  height: 5em;
  border: 1px solid black;
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 0.5em;
}

.selected {
  border-style: dashed;
  box-shadow: 0 0 5px black;
}

.pixel {
  float: left; // Let's never speak of this again.
  width: 1em;
  height: 1em;
  border: 1px solid black;
  display: inline-block;
}
