<h1>My Bloggy Woggy</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem dolores corporis repudiandae explicabo deleniti possimus. Iste voluptates praesentium deleniti amet qui. Aspernatur impedit expedita cumque sed aliquam, qui dolorem!</p>
    <p>Voluptates, consequuntur, doloribus! Explicabo repudiandae atque ullam ut vel voluptas, esse magnam voluptatem, possimus numquam rerum, tempora deleniti eligendi. Similique, perspiciatis nemo enim in beatae aliquid magni itaque fugiat. Iste.</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem dolores corporis repudiandae explicabo deleniti possimus. Iste voluptates praesentium deleniti amet qui. Aspernatur impedit expedita cumque sed aliquam, qui dolorem!</p>
    <p>Voluptates, consequuntur, doloribus! Explicabo repudiandae atque ullam ut vel voluptas, esse magnam voluptatem, possimus numquam rerum, tempora deleniti eligendi. Similique, perspiciatis nemo enim in beatae aliquid magni itaque fugiat. Iste.</p>
  </div>
</div>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem dolores corporis repudiandae explicabo deleniti possimus. Iste voluptates praesentium deleniti amet qui. Aspernatur impedit expedita cumque sed aliquam, qui dolorem!</p>
    <p>Voluptates, consequuntur, doloribus! Explicabo repudiandae atque ullam ut vel voluptas, esse magnam voluptatem, possimus numquam rerum, tempora deleniti eligendi. Similique, perspiciatis nemo enim in beatae aliquid magni itaque fugiat. Iste.</p>
  </div>
</div>

<hr>
<div class="notification">
  this is a notice
</div>

<div class="error">
  this is an error
</div>

<div class="success">
  this is a success
</div>
