<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Less Crappy Calculator</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1>Calculator</h1>

    <%= yield %>

    <footer>&copy; Copyright George Glass 2007</footer>

  </body>
</html>
