<h2>New Planet</h2>

<form action="/planets" method="post">
  Name: <input type="text" name="name" autofocus>
  Image: <input type="url" name="image">
  Orbit: <input type="number" name="orbit">
  Diameter: <input type="number" name="diameter">
  Mass: <input type="number" name="mass">
  Moons: <input type="number" name="moons">

  <button>Create planet</button>
</form>
